{% extends 'form-layout.html' %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}


{% block formContent %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 id="pageTitle" class="govuk-heading-l">{{ pageTitle }}</h1>

      <h2 id="subHeading1" class="govuk-heading-m">The item</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: exemptionTypeSummary
      }) }}

      <h2 id="subHeading2" class="govuk-heading-m">Photos of the item</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9 ivory-summary-list',
        rows: photoSummary
      }) }}

      <h2 id="subHeading3" class="govuk-heading-m">Description of the item</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: itemDescriptionSummary
      }) }}

      <h2 id="subHeading4" class="govuk-heading-m">Reasons why item is exempt</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: exemptionReasonSummary
      }) }}

      {% if documentSummary %}
        <h2 id="subHeading5" class="govuk-heading-m">Documents to support application</h2>

        {{ govukSummaryList({
          classes: 'govuk-!-margin-bottom-9',
          rows: documentSummary
        }) }}
      {% endif %}

      <h2 id="subHeading6" class="govuk-heading-m">{{ 'Owner’s details' if ownedByApplicant else 'Owner and applicant details' }}</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: ownerSummary
      }) }}

      <h2 id="subHeading8" class="govuk-heading-m">What will happen to the item</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: saleIntentionSummary
      }) }}

      <h2 id="legalDeclarationHeading" class="govuk-heading-m">Legal declaration</h2>

      {% if ownedByApplicant %}
        <p id="legalDeclarationPara1" class="govuk-body">Before you continue, you must agree to the following:</p>
      {% else %}
        <p id="legalDeclarationPara1" class="govuk-body">Before you continue, you must agree that you have permission to act on the owner’s behalf.</p>
        <p id="legalDeclarationPara2" class="govuk-body">You must also agree that the owner confirms the following:</p>
      {% endif %}

      <ul class="govuk-list govuk-list--bullet">
        {% for legalAssertion in legalAssertions %}
          <li id="legalAssertion-{{ loop.index }}">{{ legalAssertion }}</li>
        {% endfor %}
      </ul>

      {{ govukCheckboxes({
        idPrefix: "agree",
        name: "agree",
        errorMessage: fieldErrors['agree'],
        items: [
          {
            value: "agree",
            text: "I agree"
          }
        ]
      }) }}

      {{ govukButton({
          attributes: {
            id: "agree-and-submit"
          },
          text: "Agree and submit"
        })
      }}
    </div>
  </div>
{% endblock %}
