{% extends 'layout.html' %}


{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l" id="pageTitle">Cookie policy</h1>

      <p class="govuk-body" id="para1">
        {# TODO serviceName #}
        When you use the 'Declare elephant ivory you intend to sell or hire out' service, we put small files known as 'cookies' onto your computer.
      </p>

      <p class="govuk-body" id="para1">
        We use only use essential cookies. 
      </p>

      <h2 class="govuk-heading-m">Strictly necessary cookies</h2>

      <p class="govuk-body" id="para1">
        These essential cookies do things like remember your progress through the service.
      </p>

      <p class="govuk-body" id="para1">
        They always need to be on.
      </p>

      <h3 class="govuk-heading-s">Details of essential cookies</h3>

      TABLE

  </div>
{% endblock %}
