{% extends 'form-layout.html' %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block formContent %}
  <div class="govuk-grid-row">


    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "Application complete",
        html: "Your reference number<br><strong>WILL APPEAR HERE</strong>"
      }) }}

      {% if paymentSucceeded %}
        <p>PAYMENT SUCCEEDED</p>
      {% else %}
        <p>PAYMENT FAILED</p>
      {% endif %}

    </div>
  </div>
{% endblock %}
