{% extends 'multipart-form-layout.html' %}

{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block formContent %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      <link href="{{ assetPath }}/stylesheets/ispinner.prefixed.css" rel="stylesheet" />

      {% call govukFieldset({
          attributes: {
            id: "pageTitle"
          },
          legend: {
            text: pageTitle,
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
      }) %}

        {% if (not hideHelpText) %}
          <span id="hint" class="govuk-body">

            <p id="helpText1" class="govuk-body">You must add photos one at a time, up to a total of 6.</p>

            <p id="helpText2" class="govuk-body">These must be clear, well-lit and high-resolution images.</p>

            <p id="helpText3" class="govuk-body">You must include a photo of:</p>

            <ul id="helpText4" class="govuk-list govuk-list--bullet">
              <li>the whole item</li>
              <li>any distinguishing features, including where the ivory is</li>
            </ul>

          </span>
        {% endif %}

        <div id="notUploading1" style="display:block">
          <h2 id="helpTextSubHeading" class="govuk-heading-m">Upload photo</h2>

          <p id="helpText5" class="govuk-body">The photo must be:</p>

          <ul id="helpText6" class="govuk-list govuk-list--bullet">
            <li>in JPG or PNG format</li>
            <li>smaller than {{ maximumFileSize }}MB</li>
          </ul>

          {{ govukFileUpload({
            attributes: {
              accept: accept
            },
            id: "files",
            name: "files",
            errorMessage: fieldErrors['files']
          }) }}
        </div>

        <div id="uploading1" style="display:none">
          <h2 id="helpTextSubHeading" class="govuk-heading-m">Uploading photo</h2>

          <p id="helpText5" class="govuk-body">Your photo is being processed<br>Please wait...</p>

          <!-- style: large -->
          <div class="ispinner ispinner-large">
            <div class="ispinner-blade"></div>
            <div class="ispinner-blade"></div>
            <div class="ispinner-blade"></div>
            <div class="ispinner-blade"></div>
            <div class="ispinner-blade"></div>
            <div class="ispinner-blade"></div>
            <div class="ispinner-blade"></div>
            <div class="ispinner-blade"></div>
          </div>
          <br>

          {{ govukButton({
              disabled: true,
              attributes: {
                id: "hiddenContinue"
              },
              text: "Continue"
            })
          }}
        </div>

      {% endcall %}

      <div id="notUploading2" style="display:block">
        {{ govukButton({
            preventDoubleClick: true,
            disabled: uploading,
            attributes: {
              id: "continue",
              onclick: "toggle_visibility()"
            },
            text: "Continue"
          })
        }}

        {% if hideHelpText %}
          <p class="govuk-body">
            <a id="cancel" class="govuk-link" href="{{ fileListUrl }}">Cancel and return to ‘Your photos’</a>
          </p>
        {% endif %}
      </div>

    </div>
  </div>

  <script type="text/javascript">
    async function toggle_visibility() {
      await new Promise(resolve => setTimeout(resolve, 1000));
      let x = document.getElementById("notUploading1");
      let y = document.getElementById("uploading1");
      let z = document.getElementById("notUploading2");
      hideEm(x)
      hideEm(y)
      hideEm(z)
    function hideEm(x) {
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }
  }
  </script>

{% endblock %}
